<div th:fragment="book-form">
  <style>
    h1 {
      text-align: center;
      padding: 20px;
    }

    form {
      width: 300px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
  <h1>Booking Form</h1>
  <form action="/tickets/book" method="post">
    <label for="data">Enter your LastName :</label>
    <input type="text" id="data" name="data">
    <button type="submit">Book</button>
  </form>
</div>