<div th:fragment="menu">
    <style>
        header {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        /* Стиль для меню */
        nav {
            position: fixed; /* Фиксированная позиция */
            top: 0; /* Меню будет прикреплено к верхнему краю страницы */
            left: 0; /* Меню будет прикреплено к левому краю страницы */
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            width: 100%; /* Ширина меню будет 100% от ширины окна браузера */
            z-index: 9999; /* Выставляем высокий z-index, чтобы меню было поверх других элементов */
        }

        /* Стиль для ссылок в меню */
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

    </style>
    <nav>
        <a href="/home">Home</a>
        <a href="/tickets">Tickets</a>
        <a href="/booking">Booking</a>
    </nav>
</div>
