<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список билетов</title>
</head>
<body>

<th:block th:include="Menu :: menu"></th:block>

<h1>Список билетов</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Исходный пункт</th>
        <th>Пункт назначения</th>
        <th>Забронировано</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.src}"></td>
        <td th:text="${ticket.dest}"></td>
        <td th:text="${ticket.booked ? 'yes' : 'no'}"></td>
        <td>
            <button class="reserve-button"
                    th:attr="disabled=${ticket.isBooked() ? 'disabled' : null}"
                    th:classappend="${ticket.isBooked() ? 'disabled-button' : ''}"
                    th:onclick="'reserveTicket(\'' + ${ticket.id} + '\')'">book
            </button>

        </td>
    </tr>
    </tbody>
</table>

<div id="bookForm" style="display: none;" class="booking-form">
    <div class="booking-form-content">
        <!-- Закрывающий крестик для формы -->
        <span onclick="toggleBookForm()" class="close-button" id="closeButton">&times;</span>

        <h1>Бронирование билета</h1>
        <p th:text="${message}"></p>

    </div>
</div>

<script>
    let bookFormShow = false;

    function toggleBookForm() {
        const bookForm = document.getElementById('bookForm');
        bookFormShow = !bookFormShow;
        if (bookFormShow) {
            bookForm.style.display = 'block';
        } else {
            bookForm.style.display = 'none';
        }

        console.log("bookFormShow : " + bookFormShow)
    }

    function reserveTicket(id) {
        toggleBookForm();

        // Получите значение ID билета
        const ticketId = id;

        // Создайте JSON-объект для отправки
        const data = {
            id: ticketId
        };

        // Опции для отправки запроса
        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        // Отправка запроса на сервер
        fetch('/tickets/book', requestOptions)
            .then(response => {
                if (response.status === 200) {
                    console.log('Билет успешно забронирован.');
                    // Дополнительные действия при успешной бронировании
                } else {
                    console.error('Ошибка при бронировании билета.');
                    // Дополнительные действия при ошибке бронирования
                }
            })
            .catch(error => {
                console.error('Ошибка при отправке запроса:', error);
            });
    }

</script>

</body>
</html>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    h1 {
        text-align: center;
        padding: 20px;
    }

    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    .booking-form {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .booking-form-content {
        background-color: #fff; /* Цвет фона для контента формы */
        padding: 20px; /* Добавьте отступы, чтобы выделить контент */
        border-radius: 10px; /* Добавьте скругления углов для контейнера */
    }


    .reserve-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .reserve-button:hover {
        background-color: #0056b3;
    }

    .close-button {
        cursor: pointer;
    }

    .disabled-button {
        background-color: gray;
        cursor: not-allowed;
    }

</style>
